{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>dannywanyoike</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="dannywanyoike">
    <meta content="" name="dannywanyoike">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="text-primary fw-bold m-0">DannyWanyoike</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <a href="#home" class="nav-item nav-link active">Home</a>
                <a href="#about" class="nav-item nav-link">About</a>
                <a href="#skill" class="nav-item nav-link">Skills</a>
                <a href="#service" class="nav-item nav-link">Services</a>
            </div>
            <a href="index.html" class="navbar-brand bg-secondary py-3 px-4 mx-3 d-none d-lg-block">
                <h1 class="text-primary fw-bold m-0">DannyWanyoike</h1>
            </a>
            <div class="navbar-nav me-auto py-0">
                <!-- <a href="#project" class="nav-item nav-link">Projects</a> -->
                <a href="#team" class="nav-item nav-link">Team</a>
                <a href="#testimonial" class="nav-item nav-link">Testimonial</a>
                <a href="#contact" class="nav-item nav-link">Contact</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <div class="d-flex flex-row align-items-center">
        <span style="margin: auto"> {% include 'common/Messages.html' %} </span>
      </div>

    <!-- Header Start -->
    <div class="container-fluid bg-light my-6 mt-0" id="home">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                    <h3 class="text-primary mb-3">I'm</h3>
                    <h1 class="display-3 mb-3">Danny Wanyoike</h1>
                    <h2 class="typed-text-output d-inline"></h2>
                    <div class="typed-text d-none">Web Designer, Web Developer, Front End Developer, Apps Designer, Apps Developer, Freelancer, Tutor, Software Engineer</div>
                    <div class="d-flex align-items-center pt-5">
                        <a class="btn btn-primary py-3 px-4 me-5" onclick="downloadPdf()">Download CV</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                            data-src="https://www.youtube.com/watch?v=zjv_dRPOFVg" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h5 class="ms-4 mb-0 d-none d-sm-block"><small>Tri fighters</small></h5>
                    </div>
                </div>
                <div class="col-lg-6">
                    <img class="img-fluid mt-4" src="{% static 'img/profile.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=zjv_dRPOFVg" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    
    
    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center mb-5">
                        <div class="years flex-shrink-0 text-center me-4">
                            <h1 class="display-1 mb-0">5</h1>
                            <h5 class="mb-0">Years</h5>
                        </div>
                        <h3 class="lh-base mb-0">of working experience as a web designer & developer</h3>
                    </div>
                    <p class="mb-4">I am a team player who is committed to learning, working, and excellence and adhere to the respective ethics in the society so as to meet and attain the goals.</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Afordable Prices</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>High Quality Product</p>
                    <p class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>On Time Project Delivery</p>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-3 mb-4">
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static 'img/about-1.jpg' %}" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid rounded" src="{% static 'img/about-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Happy Clients</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">123</h2>
                    </div>
                    <p class="mb-4">You know what.Clients are just happy with my services and hardwork.I really appreciate this.Hey! just see this.</p>
                    <div class="d-flex align-items-center mb-3">
                        <h5 class="border-end pe-3 me-3 mb-0">Projects Completed</h5>
                        <h2 class="text-primary fw-bold mb-0" data-toggle="counter-up">123</h2>
                    </div>
                    <p class="mb-0">You know what.Clients are just happy with my services and hardwork.I really appreciate this.Hey! just see this.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Skills & Experience</h1>
                    <p class="mb-4">Did you know that I have various skills that I have learnt for the past few years?.Yes,through mastering tricking,I have knowledge and proficiency in design and programming using the Languages below.Just check how I have rated myself currently.</p>
                    <h3 class="mb-4">My Skills</h3>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">HTML</h6>
                                    <h6 class="font-weight-bold">95%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">CSS</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Python</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Javascript</h6>
                                    <h6 class="font-weight-bold">90%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">Kotlin</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="skill mb-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="font-weight-bold">C#</h6>
                                    <h6 class="font-weight-bold">85%</h6>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Experience</button>
                        </li>
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Education</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>Web Developer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2020 - Date</p>
                                    <h6 class="mb-0">Dedan Kimathi University of Technology</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Product Designer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2020 - Date</p>
                                    <h6 class="mb-0">Dedan Kimathi University of Technology</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Web Designer</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2020 - Date</p>
                                    <h6 class="mb-0">Dedan Kimathi University of Technology</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Programming Tutor</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2019 - 2020</p>
                                    <h6 class="mb-0">Dexter College</h6>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <div class="row gy-5 gx-4">
                                <div class="col-sm-6">
                                    <h5>UI Design Course</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2018 - 2020</p>
                                    <h6 class="mb-0">Sololearn</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Bsc. In IT</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2017-2019</p>
                                    <h6 class="mb-0">Dedan Kimathi University of Technology</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Web Design</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2018 - 2020</p>
                                    <h6 class="mb-0">Sololearn</h6>
                                </div>
                                <div class="col-sm-6">
                                    <h5>Computer Networking</h5>
                                    <hr class="text-primary my-2">
                                    <p class="text-primary mb-1">2017-2018</p>
                                    <h6 class="mb-0">NetAcad-Cisco</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->


    <!-- Service Start -->
    <div class="container-fluid bg-light my-5 py-6" id="service">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">My Services</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="">Hire Me</a>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-crop-alt fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Computer hardware maintenance and troubleshooting</h4>
                            <h6 class="mb-3">Start from <span class="text-primary">sh 1000</span></h6>
                            <span>Various problems and troubles associated with Pcs needs to be checked and proper troubleshooting done at a suitable cost.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-code-branch fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Computer packages training</h4>
                            <h6 class="mb-3">Start from <span class="text-primary">sh 4500</span></h6>
                            <span>Offering training on computer packages from scratch to pro level at a suitable cost. This entails Introduction to computers,Ms Word,Ms Excel,Ms Access,Ms Publisher,Adobe Pagemaker and basic programming.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-code fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Software Installation</h4>
                            <h6 class="mb-3">Start from <span class="text-primary">sh 1000</span></h6>
                            <span>PCs and laptops uses windows or linux Os and various application softwares associated with this need to be installed correctly at suitable cost.Also windows installation available i.e win 7,8,10.</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex flex-column flex-sm-row bg-white rounded h-100 p-4 p-lg-5">
                        <div class="bg-icon flex-shrink-0 mb-3">
                            <i class="fa fa-laptop-code fa-2x text-dark"></i>
                        </div>
                        <div class="ms-sm-4">
                            <h4 class="mb-3">Web development</h4>
                            <h6 class="mb-3">Start from <span class="text-primary">sh 10,000</span></h6>
                            <span>Developing various desktop applications,websites and portfolios according to the clients' requirements at a suitable cost. Classified as Projects and time scope specified.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Service End -->

    <!-- Projects Start 
    <div class="container-xxl py-6 pt-5" id="project">
        <div class="container">
            <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">My Projects</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                        <li class="mx-3 active" data-filter="*">All Projects</li>
                        <li class="mx-3" data-filter=".first">UI/UX Design</li>
                        <li class="mx-3" data-filter=".second">Graphic Design</li>
                    </ul>
                </div>
            </div>
            <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/project-1.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{% static 'img/project-1.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{%static 'img/project-2.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{%static 'img/project-2.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{%static 'img/project-3.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{%static 'img/project-3.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{%static 'img/project-4.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{% static 'img/project-4.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/project-5.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{% static 'img/project-5.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second">
                    <div class="portfolio-img rounded overflow-hidden">
                        <img class="img-fluid" src="{% static 'img/project-6.jpg' %}" alt="">
                        <div class="portfolio-btn">
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{% static 'img/project-6.jpg' %}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     Projects End -->


    <!-- Team Start -->
    <div class="container-xxl py-6 pb-5" id="team">
        <div class="container">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Team Members</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="">Contact Us</a>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="{% static 'img/team-1.jpg' %}" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>us themselves</h5>
                                <span>Developers</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="{% static 'img/team-2.jpg' %}" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>us</h5>
                                <span>Designers</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative">
                        <img class="img-fluid rounded" src="{% static 'img/team-3.jpg' %}" alt="">
                        <div class="team-text bg-white rounded-end p-4">
                            <div>
                                <h5>Us</h5>
                                <span>Community</span>
                            </div>
                            <i class="fa fa-arrow-right fa-2x text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-5 my-5" id="testimonial">
        <div class="container-fluid py-5">
            <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Testimonial</h1>
            <div class="row justify-content-center">
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-left h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="{% static 'img/testimonial-1.jpg' %}" alt="img">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="{% static 'img/testimonial-2.jpg' %}" alt="img">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="{% static 'img/testimonial-3.jpg' %}" alt="img">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic">Your most unhappy customers are your greatest source of learning.
                                It's fine to celebrate anyway.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Bill Gates</h5>
                            <span>Microsoft Founder&amp;CEO </span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic"> Endurance is one of the most difficult disciplines, but it is to the one who endures that the final victory comes.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Aron Gassor</h5>
                            <span>GingerNinjaTrickster</span>
                        </div>
                        <div class="testimonial-item text-center">
                            <div class="position-relative mb-5">
                                <img class="img-fluid rounded-circle border border-secondary p-2 mx-auto" src="{% static 'img/testimonial-3.jpg' %}" alt="">
                                <div class="testimonial-icon">
                                    <i class="fa fa-quote-left text-primary"></i>
                                </div>
                            </div>
                            <p class="fs-5 fst-italic"> Any fool can write code that a computer can understand. Good programmers write code that humans can understand.</p>
                            <hr class="w-25 mx-auto">
                            <h5>Bucky Roberts</h5>
                            <span>Programmer</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block">
                    <div class="testimonial-right h-100">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.1s" src="{% static 'img/testimonial-1.jpg' %}" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.3s" src="{% static 'img/testimonial-2.jpg' %}" alt="">
                        <img class="img-fluid wow fadeIn" data-wow-delay="0.5s" src="{% static 'img/testimonial-3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Contact Start -->
    <div class="container-xxl pb-5" id="contact">
        <div class="container py-5">
            <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <h1 class="display-5 mb-0">Let's Work Together</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="">Say Hello</a>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="mb-2">Location:</p>
                    <h3 class="fw-bold">Nyeri Town, Nyeri County, Kenya</h3>
                    <hr class="w-100">
                    <p class="mb-2">Call me:</p>
                    <h3 class="fw-bold">+254790561196</h3>
                    <hr class="w-100">
                    <p class="mb-2">Mail me:</p>
                    <h3 class="fw-bold">dannywanyoike@gmail.com</h3>
                    <hr class="w-100">
                    <p class="mb-2">Follow me:</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://www.facebook.com/daniel.irungu.3956" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href="https://www.linkedin.com/in/danny-wanyoike-007965176/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4">Reach to me through this details.The information given is correct and confirmed.</p>
                    <form action="contact" method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 100px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Map Start -->
    <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15958.890048532465!2d36.964842899999994!3d-0.39706654999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1828677a4955ff13%3A0x7ae4dae9615396a6!2sDedan%20Kimathi%20University%20Of%20Technology!5e0!3m2!1sen!2ske!4v1601616924507!5m2!1sen!2ske"
                frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <!-- Map End -->

    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="display: none">
        <div class="container">
  
          <div class="section-title" style="text-align: center">
            <h2>DANIEL IRUNGU WANYOIKE</h2>
            <h5>(Software Developer)</h5>
            <p>P.O Box 229-10100, Nyeri</p>
 
   <p> Email: <a href="mailto:dannywanyoike@gmail.com">dannywanyoike@gmail.com</a>, <a href="mailto:daniel.wanyoike@dkut.ac.ke">daniel.wanyoike@dkut.ac.ke</a><br>
    Mobile: (+254) 790561196</p>
    <p>Website: <a href="https://dannywanyoike.up.railway.app/">https://dannywanyoike.up.railway.app/</a></p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
             
              <div class="resume-item pb-0">
                <h3>PERSONAL PROFILE</h3>
                <hr>
                <ul>
                    <li>NATIONALITY: Kenyan.</li>
                    <li>DATE OF BIRTH: 18th April,1997.</li>
                    <li>NATIONAL ID NUMBER: 33867439.</li>
                    <li>GENDER: Male.</li>
                    <li>LANGUAGES: Kikuyu, English and Kiswahili.</li>
                </ul>
                <p><em>I am a team player who is committed to learning, working, and excellence and adhere to the respective ethics in the society so as to meet and attain the goals.My main interest is to learn and help grow this 
                  community.
                </em></p>
                
              </div>
  
              <h3 class="resume-title">ACADEMIC BACKGROUND</h3>
              <hr>
              <div class="resume-item">
                <ul>
                    <li>2016 – 2019  Bsc. Information Technology Dedan Kimathi University of Technology<br>
                        • Second Class Honors – Upper Division</li>
                    <li>2012 – 2015  High School Education St. Francis High School – Nakuru<br>
                        • KCSE Mean Grade B+</li>
                </ul>
              </div>
              <div class="resume-item">
                <h3>WORK EXPERIENCE</h3>
                <hr>
               <p>September 2020 – Present Software Developer Dedan Kimathi University of Technology (Software Development Center) Main responsibilities;</p>
                <ul>
                    <li>Designing and developing software for the university and external customers.</li>
                    <li>Customizing and maintaining the university’s ERP system.</li>
                    <li>Offering user training and support for all software.</li>
                    <li>Documenting procedures and progress.</li>
                </ul>

                <p>Main projects worked on and the technologies used;</p>
                <ul>
                    <li>Staff Access Control System – Django Python Framework, HTML5, CSS3, JavaScript, jQuery, and PostgreSQL.</li>
                    <li>Customization of the Microsoft Dynamics NAV ERP – C/AL programming language and Microsoft SQL Server (MSSQL).</li>
                    <li>Workload Management System (a performance and evaluation system) – C#, Dot net Core, HTML5, CSS3, and PostgreSQL.</li>
                    <li>Website for SDC department – Django Python Framework, HTML5, CSS3, and PostgreSQL.</li>
                </ul>

                <p>January 2020 – April 2020 Teaching Assistant Dexter College in Nyeri(Intern) (School of Computer Science and Information Technology)</p>
                <ul>
                    <li>Taking students through tutorials and lab sessions.</li>
                    <li>Setting and marking assessments.</li>
                    <li>Basic computer usage training, like training some staff on important computer applications (packages) to enable them to troubleshoot simple problems.</li>
                    <li>Data entry.</li>
                </ul>

              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <h3 class="resume-title">CORE COMPETENCIES</h3>
              <hr>
              <div class="resume-item">
               <ul>
                <li>Systems analysis, design, development, debugging, and maintenance in C#, Python, Java, and Kotlin programming languages.</li>
                <li>Web design, development and maintenance using HTML5, CSS3, JavaScript, jQuery, Python (Django Python frameworks), C#, and Dot net Core framework.</li>
                <li>Database management using SQL language. Comfortable with MySQL, Microsoft SQL Server, and PostgreSQL.</li>
                <li>Development of RESTful APIs (Application Programming Interfaces) using popular REST frameworks like Django REST framework(DRF) and ASP.NET Web API.</li>
                <li>MVC architecture of software development.</li>
                <li>Version control using Git.</li>
                <li>Computer hardware repair and maintenance.</li>
                <li>Computer software installation, customization and troubleshooting.</li>
                <li>Network setup, configuration, management and troubleshooting.</li>
                <li>Computer applications.</li>
                <li>Multi-platform proficiency – Windows and Linux.</li>
                <li>Human-computer interface (HCI) proficiency.</li>
                <li>General computer systems operations.</li>
                <li>ICT User Experience (UX) designing, user training and support proficiency.</li>
            </ul>
            
              </div>
              <div class="row">
                <div class="col-lg-6" data-aos-delay="100">
                  <h3 class="resume-title">CERTIFICATIONS</h3>
                  <hr>
                  <div class="resume-item pb-0">
                    <h4>Includes:</h4>
                   <ul>
                      <li>CCNA1 – Basic computer networking skills.</li>
                      <li>IOT CISCO certification</li>
                      <li>Certificate of academic excellence</li>
                      <li>Sololearn Certification for programming in HTML, Java, C#, JQuery, Javascript, SQL, Python and Kotlin</li>
                    </ul>
                  </div>
            </div>
          </div>

           <div class="row">
                <div class="col-lg-6" data-aos-delay="100">
                  <h3 class="resume-title">HOBBIES</h3>
                  <hr>
                  <div class="resume-item pb-0">
                    <h4>Includes:</h4>
                   <ul>
                     <li>Playing football</li>
                      <li>Coding</li>
                      <li>Volleyball</li>
                      <li>Playing chess</li>
                      <li>Darts</li>
                    </ul>
                  </div>
            </div>
          </div>

           <div class="row">
                <div class="col-lg-6" data-aos-delay="100">
                  <h3 class="resume-title">REFEREES</h3>
                  <hr>
                  <ol>
                  <li>
                    <p>Dr. Juma Misiko(Ph.D.),<br>
                    Senior Lecturer, IToHM,<br>
                    Dedan Kimathi University of Technology.<br>
                    Tel: +254724877206</p>
                  </li>
                  <li>
                    <p>Alex Kuria,<br>
                    System/Network Administrator,<br>
                    Dedan Kimathi University of Technology.<br>
                    Tel: +254720958261<br>
                    Email: alex.kuria@dkut.ac.ke</p>
                  </li>
                  <li>
                    <p>Dr. John Wandeto,<br>
                    Director, Department of SDC,<br>
                    School of Computer Science and IT,<br>
                    Dedan Kimathi University of Technology.<br>
                    Tel: +254733426011<br>
                    Email: john.wandeto@dkut.ac.ke</p>
                  </li>
                  <li>
                    <p>Mwai Kennedy,<br>
                    Outdoor Adventure Instructor,<br>
                    Dedan Kimathi University of Technology.<br>
                    Tel: +254722331051<br>
                    Email: outdoorinstructor@dkut.ac.ke</p>
                  </li>
                </ol>
             
            </div>
          </div>
  
        </div>
      </section>
      <!-- End Resume Section -->


    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="#">danny</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        <!-- Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a> -->
                        Designed By <a class="border-bottom text-secondary" >dannywanyoike</a>
                        <!-- <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/typed/typed.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- pdf js make -->
    <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"
  ></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/html-to-pdfmake.js' %}"></script>

    <script>

        //msgs timeout
    setTimeout(function () {
        if ($("#msg").length > 0) {
            $("#msg").remove();
        }
        }, 4000);

              //testing pdf make js
      function downloadPdf() {
        // $(".eyeBtn").hide();
        var tableToHtml = $("#resume").html();
       
       $(".print-loading").show();
        var html = htmlToPdfmake(`
          `+tableToHtml+``);
        $.each(html,function(id,val) {
            // console.log("speculate==",val.table);
            if (val.table !== undefined){
                val.table.headerRows=1;
            }
            if (val.nodeName === "DIV"){
               
                // val.stack.unshift({image: ''+imagebase()+'', alignment: 'center'});
               
            }
           
            
        });
        var docDefinition = {
            pageOrientation: 'portrait',
            footer: function(currentPage, pageCount) {
                return [
                    // {text:'Generated e : {{user_data.designation}}', alignment: 'center',fontSize: 8,margin: [10, 2]},
                    {text:'Generated On '+Date(Date.now())+'', alignment: 'center',fontSize: 8,margin: [10, 2]},
                    {text:''+currentPage.toString() + ' of ' + pageCount+'', alignment: 'right',fontSize: 8,margin: [10, 2]}
                ]
                },
              header: function(currentPage, pageCount, pageSize) {
                return [
                  { text: 'danny resume', alignment: 'center' ,fontSize: 7,margin: 5},
                  { canvas: [ { type: 'rect', x: 170, y: 32, w: pageSize.width - 170, h: 40 } ] }
                ]
              },
          content: [
            html,
            {
            // columns: [
            //         {
            //           width: '50%',
            //           text: 'Department : ...................................',
            //           style:"tableColumn"
            //         },
            //         {
            //           width: '50%',
            //           margin: [16, 5, 0, 15],
            //           text: 'Date : ...........................................',
            //           style:"tableColumn"
            //         },
            //       ],
            //       columnGap: 200
           },
           {
          //  columns: [
          //          {
          //            width: '50%',
          //            text: 'Chairperson, Deans Committee : ...................................',
          //            style:"tableColumn"
          //          },
          //          {
          //            width: '50%',
          //            text: 'Date : ...........................................',
          //            style:"tableColumn"
          //          },
          //        ],
          //        columnGap: 200
          }
          ],
          styles: {
                  tableExample: {
                      margin: [9, 5, 0, 15],
                      widths: '*',
                      layout: 'noBorders'
                  },
                  tableColumn: {
                    margin: [9, 5, 0, 15],
                    layout: 'noBorders'
                }
              },
          defaultStyle: {
              fontSize: 11,
            },
          pageBreakBefore: function(currentNode) {
            return currentNode.style && currentNode.style.indexOf('pdf-pagebreak-before') > -1;
          }
        };              
        //for downlaoding file
        //pdfMake.createPdf(docDefinition).download('A.pdf');img-logo
        //for printing
        pdfMake.createPdf(docDefinition).print();
        $(".print-loading").hide();
    }
  
    </script>
</body>

</html>